<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/svg+xml"
      href="YouMovieLogo.svg"
      data-href-light="YouMovieLogo.svg"
      data-href-dark="YouMovieLogoWhite.svg"
    />
    <script>
      !(function () {
        if ("not-all" !== window.matchMedia("(prefers-color-scheme").media) {
          var e = window.matchMedia("(prefers-color-scheme: dark)"),
            r = document.querySelectorAll('link[rel="icon"]'),
            a = function () {
              var a = e.matches ? "hrefDark" : "hrefLight";
              Array.prototype.slice.call(r).forEach(function (e) {
                e.href = e.dataset[a];
              });
            };
          e.addEventListener("change", a), a();
        }
      })();
    </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
