/* app global css */
@font-face {
  font-family: Infinite;
  src: url(./fonts/Infinite.woff);
}

body.body--light {
  --bs-alert-color: #052c65;
  --bs-alert-bg: #cfe2ff;
  --bs-alert-border-color: #9ec5fe;
  --bs-alert-link-color: #052c65;
  --sombra: 0 1px 14px 19px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

body.body--dark {
  background: #35363A;
  --bs-alert-color: #6ea8fe;
  --bs-alert-bg: #031633;
  --bs-alert-border-color: #084298;
  --bs-alert-link-color: #6ea8fe;
  --sombra: 0 1px 14px 19px rgba(255, 255, 255, 0.2),
  0 2px 2px rgba(255, 255, 255, 0.14),
  0 3px 1px -2px rgba(255, 255, 255, 0.12);
}

.infinite {
  font-family: "Infinite";
}
:root {
  --q-primary: #ff913e;
  user-select: none;
}

*::selection {
  background-color: var(--q-primary);
  color: beige;
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-track {
    background: black; /* color of the tracking area */
  }
}

*::-webkit-scrollbar-thumb {
  background-color: #ff913e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #ff913e; /* creates padding around scroll thumb */
}
